<div class="page-wrapper">
  <header class="main-header clearfix">
    <nav class="main-menu clearfix">
      <div class="main-menu-wrapper clearfix">
        <div class="main-menu-wrapper__left">
          <div class="main-menu-wrapper__logo">
            <a routerLink="/">
              <img src="assets/images/resources/logo-3.png" style="height: 50px; width: 120px" alt="Constant">
            </a>
          </div>
          <div class="main-menu-wrapper__main-menu">
            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
            <ul class="main-menu__list">
              <!-- <li class="">
                <a href="index.html">Home</a>
              </li> -->
              <li class="">
                <a routerLink="/about-us" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">Corporate</a>
              </li>
              <li class="dropdown">
                <a routerLink="/services" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">Services</a>
                <ul>
                  <li>
                    <a routerLink="/sec-trading" routerLinkActive="active"
                      [routerLinkActiveOptions]="{exact: true}">Securities Trading</a>
                  </li>
                  <li class="dropdown">
                    <a routerLink="/fin-cap-market" routerLinkActive="active"
                      [routerLinkActiveOptions]="{exact: true}">Financings <br>Capital Market</a>
                  </li>
                  <li>
                    <a routerLink="/invest-research" routerLinkActive="active"
                      [routerLinkActiveOptions]="{exact: true}">Investment Research</a>
                  </li>
                  <li>
                    <a routerLink="/invest-advisory" routerLinkActive="active"
                      [routerLinkActiveOptions]="{exact: true}">Investment Advisory</a>
                  </li>
                  <li>
                    <a routerLink="/stra-advisory" routerLinkActive="active"
                      [routerLinkActiveOptions]="{exact: true}">Strategic Advisory</a>
                  </li>
                  <li><a routerLink="/princ-investment" routerLinkActive="active"
                      [routerLinkActiveOptions]="{exact: true}">Principal Investment</a></li>
                </ul>
              </li>

              <li class="">
                <a routerLink="research" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">Research</a>
                <!-- <ul>
                  <li><a href="cases.html">Cases</a></li>
                  <li><a href="cases-2.html">Cases Two</a></li>
                  <li><a href="case-details.html">Case Details</a></li>
                </ul> -->
              </li>
              <li class="">
                <a routerLink="/client" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Client
                  Center</a>
              </li>
              <li>
                <a routerLink="/contact-us" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-menu-wrapper__right">
          <div class="main-menu-wrapper__call">
            <div class="main-menu-wrapper__call-icon">
              <span class="icon-phone-call"></span>
            </div>
            <div class="main-menu-wrapper__call-number">
              <p>Need help? Talk to an expert</p>
              <h5><a href="tel:0302500386">( 030 ) 250 - 0386</a></h5>
            </div>
          </div>
          <div class="main-menu-wrapper__search-cat">
            <a href="#" class="main-menu-wrapper__search search-toggler icon-magnifying-glass"></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
  </div><!-- /.stricky-header -->

</div>